
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

@keyframes flash {
    0% {background-color: whitesmoke;}
    /* 50% {background-color: transparent;} */
    70% {background-color: rgb(245, 245, 245, .8);}
    71% {background-color: whitesmoke;}
}

@keyframes float {
    0% {
        transform: 
            translate3d(0px, 0px, -250px)
        }
    33% {
        transform: 
            perspective(1500px)
            translate3d(2px, 6px, -250px)
        }
    66% {
        transform: 
            perspective(1500px)
            translate3d(-2px, -6px, -250px)
        }
    100% {
        transform: 
            translate3d(-0px, -0px, -250px)
        }
}


.mainForm {
    min-width: fit-content;
    /* width: 60vw; */
    width: 100%;
    /* max-width: 900px; */
    /* max-width: 600px; */
    height: fit-content;
    margin: auto;
    padding: 2em 0;
    /* padding: 50px 80px; */
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(to bottom, rgb(25, 25, 25, 1) 0%, rgb(25, 25, 25, 1) 60%, transparent 100%); */
    background: radial-gradient(circle at 50% -50%, rgb(25, 25, 25, 1) 0%, rgb(25, 25, 25, 1) 60%, transparent 100%);
    /* border: 5px double whitesmoke; */
    /* border-radius: 10% / 10%; */
    /* background-color: rgb(20, 20, 20, 0.4); */
    /* background-color: rgb(25, 25, 25, 1); */
}
.responsiveMain {
    max-width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    border: 5px double whitesmoke;
    border-radius: 14% / 7%;
    /* background-color: rgb(20, 20, 20, 0.4); */
    background-color: rgb(25, 25, 25, 1);
}

.formComponent {
    /* width: 100%; */
    width: 60vw;
    max-width: 700px;
    margin: 25px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}
.responsiveComponent {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.label {
    width: 38%;
    font-size: 1.7rem;
    color: whitesmoke;
}
.responsiveLabel {
    width: 90%;
    font-size: 1.7rem;
    color: whitesmoke;
    margin-bottom: 20px
}

.textInput {
    margin: 0px 12px;
    padding: 8px;
    min-width: 60%;
    max-width: 500px;
    min-height: 30px;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.1rem;
    font-weight: bold;
    color: whitesmoke;
    box-shadow: 0px 0px 8px -2px rgba(245, 245, 245, .9);
    /* background-color: #262626; */
    background-color: transparent;
    border: none;
}
.responsiveInput {
    margin: 0px 12px;
    padding: 8px;
    width: 80%;
    max-width: 400px;
    min-height: 30px;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 0 15px 15px -10px rgba(245, 245, 245, 0.24);
}

.option {
    min-height: 30px;
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25, 25, 25, 1);
}

.buttonContainer {
    width: 60vw;
    max-width: 700px;
    /* margin-top: 1em; */
    margin: 1em auto;
    display: flex;
    justify-content: flex-end;
}

.formButton {
    transition: 1s ease-out;
    height: 40px;
    width: 110px;
    /* background-color: rgba(168, 168, 168, 0.7); */
    background-color: whitesmoke;
    border: 2px solid transparent;
    border-radius: 5% / 10%;
    box-shadow: 0 25px 12px -15px rgba(245, 245, 245, 0.24);
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    /* color: whitesmoke; */
    color: black;
    /* text-shadow: 2px 2px 2px rgb(20, 20, 20, 0.9); */
    /* animation: float 20s linear infinite; */
}
.formButton:hover {
    /* background-color: whitesmoke; */
    /* color: black; */
    cursor: pointer;
    animation: flash .5s linear;
    background-color: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    /* border: 4px double whitesmoke; */
    /* text-shadow: 1px 1px 1px rgba(245, 245, 245, 0.788); */
    /* box-shadow: 0 25px 12px -10px rgba(245, 245, 245, 0.788); */
    /* transform: scale(1.1); */
}

.responsiveButton {
    background-color: whitesmoke; 
    color: black;
    cursor: pointer;
    border: 4px double whitesmoke;
    text-shadow: 1px 1px 1px rgba(245, 245, 245, 0.788);
    box-shadow: 0 25px 12px -10px rgba(245, 245, 245, 0.788);
}