/* ======> {{ CONTACT COMPONENT }} <====== */

/* ---> Fonts <--- */

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Animations: */

/* subtle glow effect for headers */
@keyframes glow {
    0% {color: rgba(255,255,255,.75); text-shadow: 1px 1px 1px rgba(255,255,255,.75);}
    50% {color: whitesmoke; text-shadow: 2px 1px 1px rgba(245, 245, 245, 0.788);}
    100% {color: rgba(255,255,255,.75); text-shadow: 1px 1px 1px rgba(255,255,255,.75);}
}

/* removes dark 'mask' from components on hover or reveals components on load */
@keyframes un-mask {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* loading spinner - outside */
@keyframes spinner {
    0% {transform: translate3d(-50%, -50%, 0) rotate(0deg);}
    90% {transform: translate3d(-50%, -50%, 0) rotate(365deg);}
    100% {transform: translate3d(-50%, -50%, 0) rotate(360deg);}
}

/* loading spinner - inside */
@keyframes reverse-spinner {
    0% {transform: translate3d(-50%, -50%, 0) rotate(0deg);}
    100% {transform: translate3d(-50%, -50%, 0) rotate(-360deg);}
}

/* border flicker */
@keyframes flash {
    0%, 60% {border-color: transparent;}
    /* 63% {border-color: whitesmoke;} */
    62%, 64%, 100% {border-color: rgba(245, 245, 245, 0.4);}
}

/*  */
@keyframes open {
    0% {height: 20px;}
    40% {height: 100px;}
    60% {height: 100px;}
    100% {height: 80vh;}

    /* from {height: 80px;} */
    /* to{height: 80vh;} */
    /* to{height: fit-content;} */
}



/* { loading... } */
.loadingBackground {
    background-image: url("../assets/3d-background.png");
    height: 100vh;
    width: 100vw;
    -webkit-backgound-size: cover;
    -moz-backgound-size: cover;
    background-size: cover;
    text-align: center;
}
.loadingMask {
    height: 100vh;
    width: 100vw;
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro';  
    background: linear-gradient(8deg, rgba(26,26,26,0.2) 0%, rgba(25,25,25,1) 70%);
}
.spinner {
    animation: spinner 2.5s ease infinite;
    border: solid 5px transparent;
    border-bottom-color: #cfd0d1;
    border-left-color: #cfd0d1;
    border-top-color: #cfd0d1;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
}
.logoSpinner {
    animation: reverse-spinner 3.5s linear infinite;
    border: solid 4px transparent;
    border-bottom-color: #cfd0d1;
    border-right-color: #cfd0d1;
    border-top-color: #cfd0d1;
    border-radius: 50%;
    height: 74px;
    width: 74px;
    position: absolute;
    top: 50%;
    left: 50%;
}
.logo {
    animation: glow 7s ease infinite;
    font-family: 'Anonymous Pro';
    font-size: 3em;
    color: whitesmoke;
    position: absolute;
    top: 47%;
    left: 48%;
}

/* background image */
.bg {
    display: flex;
    animation: un-mask 2s ease;
    background-image: url("../assets/3d-background.png");
    min-height: 100vh;
    height: 100%;
    -webkit-backgound-size: cover;
    -moz-backgound-size: cover;
    background-size: cover;
    text-align: center;
}

/* size and font */
.contactBackground {
    max-width: 100vw;
    /* padding-bottom: 2rem; */
    /* padding-top: 4em; */
    /* width: fit-content; */
    /* width: 100vw; */
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro';
    background: linear-gradient(8deg, rgba(26,26,26,0.2) 0%, rgba(25,25,25,1) 70%);
}

.contactContainer {
    height: 90px;
    /* min-height: 100px; */
    /* animation: open 1s ease-in; */
    background: linear-gradient(to bottom, rgb(38, 38, 38) 0%, rgb(38, 38, 38, 0.5) 100%);
    /* background-color: rgb(38, 38, 38); */
    padding-top: 2em;
    /* margin: 0 3rem 3rem 3rem; */
    max-width: 1100px;
    margin: auto;
    margin: 1rem auto;
    /* margin: 0 auto 3rem auto; */
    border: 1px solid rgba(245, 245, 245, 0.4);
    border-radius: 5px;
    /* animation: flash 5s linear; */
    overflow: scroll;
    /* max-height: 100px; */
    scrollbar-width: 0px;
    -ms-overflow-style: none;
    /* transition: 1s ease-in; */
    /* max-height: 100vh; */
}
.contactContainer::-webkit-scrollbar {
    display: none;
}
.contactContainer.open {
    animation: open .6s ease-out;
    height: 80vh;
    max-height: 785px;
    /* height: fit-content; */
}

.title {
    font-size: 36pt;
    margin: 0 0 32px 0;
    /* margin: 0; */
    /* animation: glow 7s ease infinite; */
    text-shadow: 1px 1px 1px rgba(245, 245, 245, 0.3);
}
.titleResponsive {
    font-size: 24pt;
    margin: 2em 0em 1em 0em;
}