
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

@keyframes un-mask {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes expand {
    from {height: 25px;}
    to {height: 750px;} 
}

@keyframes contract {
    from {height: 750px;}
    to {height: 25px;}
}

@keyframes portrait {
    from {height: 150px; width: 150px;}
    to {height: 550px; width: 338px;}
}

@keyframes landscape {
    from {height: 150px; width: 150px;}
    to {height: 500px; width: 750px;}
}

@keyframes inactiveL {
    from {height: 500px; width: 750px;}
    to {height: 150px; width: 150px}
}

@keyframes inactiveP {
    from {height: 550px; width: 338px;}
    to {height: 150px; width: 150px}
}

.projectsContainer {
    /* global for this component */
    font-family: 'Anonymous Pro', monospace;
    color: whitesmoke;
    text-align: center;
    /*  */
    display: flex;
    flex-direction: column;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: 0px;
    max-height: 90vh;
    overflow: scroll;
}

.projectHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: inherit;
    
    background-color: #262626;

    /* padding: 1rem 0 2rem 0; */
    padding: 2rem 0;
}

.projectGallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: inherit;
    
    background-color: rgba(26, 26, 26);

    padding: 3rem 0;
}

.projectDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: inherit;
    
    background-color: #262626;

    padding: 2rem 0;
}

.projectDemo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: inherit;

    background-color: rgba(26, 26, 26);

    padding: 2rem 0 1rem 0;
}

.projectFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
    
    background-color: #262626;

    padding: 2rem 0;
}

.demo {
    margin: 10px;
    border: 1px solid black;
    background-size: cover;
    cursor: pointer;
    transition: .5s linear ease-out;
    height: 75px;
    width: 75px;
}

.demoMask {
    height: inherit;
    width: inherit;
    background-color: rgb(26, 26, 26, .6);
    background-size: cover;
}
.demoMask:hover {
    transition: .7s ease-in;
    background-color: transparent;
}

.activeImgLandscape {
    animation: landscape .7s ease-out;
    height: 500px;
    width: 750px;
}
.activeImgPortrait {
    animation: portrait .7s ease-out;
    height: 575px;
    width: 338px;
}

.inactiveL {
    animation: inactiveL .5s ease-in;
    /* transition: 1s linear ease-out; */
}
.inactiveP {
    animation: inactiveP .5s ease-in;
    /* transition: 1s linear ease-out; */
}

.expand {
    animation: expand 1s ease-out;
    /* transition: 1.5s; */
}
.contract {
    animation: contract 1s ease-in;
}

.header {
    font-size: 24pt;
    font-weight: bold;
    letter-spacing: .25rem;
    color: rgba(255,255,255,.3);
    margin-bottom: 1rem;
}

.instruction {
    font-family: helvetica;
    font-size: 13pt;
    margin-bottom: 2rem;
}

.githubLink {
    /* color: rgba(0, 143, 17); */
    color: rgb(17, 255, 45);
    /* color: rgba(123, 255, 139); */
    font-family: helvetica;
    font-size: 16pt;
    border-radius: 50%;
    margin: 1rem auto 2rem auto;
}

.projectLink {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 120px;
    color: whitesmoke;
    font-weight: bold;
}

.left {
    transform: rotateZ(90deg);
}

.right {
    transform: rotateZ(-90deg);
}