
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

@keyframes expand {
    from {height: 0px}
    to {height: 200px}
}

@keyframes contract {
    from {height: 200px;}
    to{height: 0px;}
}

@keyframes unmask {
    from {background-size: cover;}
    to {background-size: 0;}
} 

/* @keyframes slide {
    0% {transform: translateY(-4rem) translateX(3rem)}
    100% {transform: translateY(4rem) translateX(-3rem)}
} */

.navLink {
    font-family: helvetica;
    margin: 0px 2px;
    padding: 10px 12px 0px 12px;
    text-decoration: none;
    font-size: 1.4rem;
    color: whitesmoke;
    border-radius: 5px 5px 0px 0px;
}
.navLink:hover {
    color: whitesmoke;
}

.smallNav {
    font-family: helvetica;
    text-shadow: 2px 2px 1px black;
    text-decoration: none;
    font-size: 1.4rem;
    color: whitesmoke;

    z-index: 5;
}

.active {
    color: rgb(0, 173, 17);
}
.active:hover {
    color: rgba(0, 173, 17);
}

.navMenu {
    border-radius: 0px 0px 8px 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    background-color: transparent;
    text-align: end;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    /* transition: .7s ease-out transform; */
    transition: .7s ease transform;
}


/* .activeMenu {
    height: fit-content;
    transition: 2s linear;
    animation: expand 2s linear ease-out;
} */

/* .inactiveMenu {
    height: fit-content;
    transition: 2s linear;
    animation: contract 2s linear ease-in;
} */